@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor .Net 8 Demo</h1>

<div>
    This demo is meant to primarily demonstrate a comprehension of a very separated MVVM architecture.
</div>
<div>
    <span style="margin-left:15px;">
        <b>Note</b>:
        <br />
        <span style="margin-left:15px;">
            1. This is just an example to demonstrate a comprehension of the architecture, I don't necessarily like over-architected software.
        </span>
        <br />
        <span style="margin-left:15px;">
            2. Client-side services were omitted for this demo.
        </span>
    </span>
</div>
<div class="pt-2">
    Also included is a basic implementation of a new .Net 8 Blazor component using RendermodeAuto.
</div>

<hr />

<BlazorNet8Demo.Client.Pages.SelectStudentDemo />
