@page "/"
@* @rendermode InteractiveServer *@
<PageTitle>Home</PageTitle>

<h2 class="roboto-regular">Blazor .Net 8 Key Concepts Demo</h2>

<div>
    This demo is meant to demonstrate some key comprehensions related to typical .Net web application development.
</div>
<div class="pt-1">
    Also included is a basic example of new .Net 8 Rendermodes for Blazor. It was initially set using InteractiveAuto, but performed better using InteractiveServer.
</div>

<div class="pt-1" >
    <b>Notes</b>:
</div>
<div class="pt-1" style="margin-left:15px">
    1. Client-side services were omitted for this demo.
</div>
<div class="pt-1" style="margin-left:15px">
    2. I used a very separated architecture to demonstrate a comprehension, I don't typically prefer over-architected software.
</div>

<hr />

<h4>
    Key Items Demonstrated
</h4>

<div class="badge bg-primary">Architecture</div>
<div class="pb-2">
    A very separated architecture. I wanted to demonstrate that I've worked in these kinds of architectures, 
    but I don't always think they are necessary depending on the scope of the application.
</div>

<div class="badge bg-primary">.Net Core</div>
<div class="pb-2">
    Setup and configuration for a typical web application using .Net Core and Entity Framework 8.
</div>

<div class="badge bg-primary">Entity Framework Core 8</div>
<div class="pb-2">
    Setup, configuration and utilization of Entity Framework Core 8, including dependency injection for the ApplicationDbContext.
    <br />
    This demo utilizes an in-memory database.
</div>

<div class="badge bg-primary">Blazor .Net 8</div>
<div class="pb-2">
    Demonstrate the fundamentals of a new Blazor Web App solution using .Net 8 & Entity Framework Core 8.
</div>
