@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor .Net 8 Demo</h1>

<div>
    This demo is meant to primarily demonstrate a handful of concepts:
</div>

@* <div class="pt-1">
    This home page contains a Blazor Component set up using RenderMode InteractiveAuto.
</div> *@

<div class="container-fluid pt-2">
    <div class="pt-1">
        1. An MVVM software architecture for a very separated architecture, that would include 'micro' / server-side services (client-side services were omitted for this demo).
        <br />
        <b>Note</b>: This is just an example to demonstrate a comprehension, I don't necessarily like over-architected software.
    </div>
    <div class="pt-1">
        2. A basic implementation of the new .Net 8 Blazor RendermodeAuto Mode.
    </div>
    <div class="pt-1">
        Thanks!
    </div>
</div>

<hr />

<BlazorNet8Demo.Client.Pages.SelectStudentDemo />
